---
name: Test
on: [push]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: npm i
      - uses: ./
        with:
          repository: gitea/tea
          serverUrl: https://gitea.com/
      - uses: ./
        with:
          repository: gitea/tea
          serverUrl: https://gitea.com/
          excludes: preRelease, draft
      - uses: ./
        with:
          repository: gitea/tea
          serverUrl: https://gitea.com/
          token: ${{ github.token }}
      - uses: ./
        with:
          repository: gitea/tea
          serverUrl: https://gitea.com/
          excludes: prerelease, draft
          token: ${{ github.token }}
